* {
    padding: 0;
    margin: 0;
    /* border: 2px solid red; */
}

body {
    min-height: 100vh;
}

body {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.header, .information, .quote, .call-action, .footer{
    padding: 15px 300px;
    height: 300%;
    flex: 1;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 50px
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {

}

.icon {
    font: 24px;
    color: #F9FAF8;
}

.links li{
    display: inline-block;
    margin: 0 10px;
}

.hero-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.title-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* flex: 1; */
    align-items: stretch;
    /* min-width: 400px; */
}

.hero-text > *{
    /* flex: 1; */
}

.title-text h1{
    font: 48px extra-bold;
    color: #F9FAF8
}

.title-text p {
    text-align: left;
}

.title-text p, .links li {
    font: 18px;
    color: #E5E7EB;
}

.hero-text .placeholder {
    padding: 100px 200px;
    background-color: grey;
    text-align: center;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 5px 25px;
    border: 0;
    flex: none;
    max-width: 95.22px;
}

.information h2 {
    font: 36px extra-bold;
    color: #1F2937;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 50px 300px 100px 300px;
}

.information .info-blocks {
    display: flex;
    gap: 30px;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.info-block .placeholder {
    padding: 30px;
    border: 3px solid blue;
    border-radius: 8px;
    flex: none;
}

.info-block p {
    max-width: 150px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px 400px;
    flex-direction: column;
}
.quote .text {
    font: 36px light italic;
    color: #1F2937;
}

.quote .quote-author {
    align-self: flex-end;
    font-weight: bolder;
}

.call-action {
    background-color: #3882F6;
    color: white;
    margin: 75px 150px;
    border-radius: 8px;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-action button {
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px 20px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}